/* Modal menu */

.modal-backdrop {
    top: 90px;
  }
  .modal {
    top: 90px;
  }
  .modal-title {
    text-align: center;
    font-family: "Russo One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8em;
    line-height: 112.4%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: rgba(12, 83, 99, 0.65);
    -webkit-text-stroke: 3px#00d1ff;
    text-shadow: 3px 13px 31px rgb(0 209 255 / 50%), 6px 6px 16px rgb(0 209 255 / 50%), -2px -2px 7px rgb(0 209 255 / 50%), -2px 2px 7px rgb(0 209 255 / 50%);
  }
  .modal-backdrop.show {
    opacity: 0.9;
  }
  #exampleModal .modal-content {
   background: unset;
    /* width: 50%;
    /* margin: 0 auto;  */
  }
  #exampleModal .modal-dialog {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .modal-body {
    background: unset;
    width: 50%;
    margin: 0 auto;
  }
  #exampleModal .modal-footer {
    border: unset;
    flex-direction: column;
  }
  .modal-footer h3 {
    font-family: 'Russo One';
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 112.4%;
  color: white;
  }
  .modal-footer ul {
    width: 90%;
  }
  .modal-footer ul a {
    text-decoration: unset;
    font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 112.4%;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: unset;
  }
  .chat-click {
    display: none;
  }
  .chat-hover {
    display: none;
  }
  .modal-footer li:last-child:hover .chat-base{
  display: none;
  }
  .modal-footer li:last-child:hover .chat-hover{
  display: block;
  }
  .modal-footer li:last-child:hover .chat-click{
  display: none;
  }
  .modal-footer li:last-child:active .chat-base{
  display: none;
  }
  .modal-footer li:last-child:active .chat-hover{
  display: none;
  }
  .modal-footer li:last-child:active .chat-click{
  display: block;
  }
  
  #exampleModal .modal-header {
    justify-content: center;
    border-bottom: unset;
    padding-left: 35px;
  }
  #exampleModal .btn-close {
       background: unset;
       border-radius: unset;
       position: relative;
       width: 30px;
      padding: 0;
      margin: 0;
      top: -12px;
      right: -5px;
      outline: unset;
  }
  .btn-close:focus {
    box-shadow: unset;
  }
  .modal-menu ul {
    list-style: none;
  }
  .modal-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .modal-menu li:hover {
    background:rgba(17, 99, 117, 1);
  }
  .modal-menu li:active {
    background: #07353F;
  }
  
  .modal-menu li:active a{
    opacity: 0.6;
  }
  
  .modal-menu li a {
    font-family: "Mplus 1p";
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 30px;
    color: white;
    margin: 0 auto;
  
  }
  /* first li */
  .modal-menu li:first-child {
    position: relative;
    border-top: 2px solid #00D1FF;
  }
  .modal-menu li:first-child:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 2px;
    transform: rotate(8deg);
    border-right: 2px solid #00D1FF;
  }
  .modal-menu li:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 2px;
    transform: rotate(-8deg);
    border-right: 2px solid #00D1FF;
  }
  /* first li */
  
  /* second li */
  .modal-menu li:nth-child(2) {
    border-top: 2px solid #00D1FF;
    width: 98%;
    margin: 0 auto;
    position: relative;
  }
  
  .modal-menu li:nth-child(2):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 1px;
    transform: rotate(4deg);
    border-right: 2px solid #00D1FF;
  }
  .modal-menu li:nth-child(2):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 1px;
    transform: rotate(-4deg);
    border-right: 2px solid #00D1FF;
  }
  
  /* second li */
  
  /* third li */
  .modal-menu li:nth-child(3) {
    border-top: 2px solid #00D1FF;
    width: 97%;
    margin: 0 auto;
    position: relative;
  }
  .modal-menu li:nth-child(3):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: -1px;
    transform: rotate(-3deg);
    border-right: 2px solid #00D1FF;
  }
  .modal-menu li:nth-child(3):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -1px;
    transform: rotate(3deg);
    border-right: 2px solid #00D1FF;
  }
  /* third li */
  
  /* last li */
  .modal-menu li:nth-child(4) {
    width: 98%;
    border-top: 2px solid #00D1FF;
    border-bottom: 2px solid #00D1FF;
    margin: 0 auto;
    position: relative;
  }
  
  .modal-menu li:nth-child(4):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: -1px;
    transform: rotate(-3deg);
    border-right: 2px solid #00D1FF;
  }
  .modal-menu li:nth-child(4):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -1px;
    transform: rotate(3deg);
    border-right: 2px solid #00D1FF;
  }
  
  /* last li */
  .modal-menu .enter {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-menu .enter a {
  font-family: "Russo One";
  font-style: normal;
  font-weight: normal;
  font-size: 2em;
  line-height: 30px;
  color: white;
  text-decoration: unset;
  margin: 0;
  }
  .modal-menu .enter img {
    width: 25px;
  }
  /* Modal menu */

  /* Modal consultation */
  .modal-title.consultation {
    display: flex;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 112.4%;
    /* or 27px */
    text-align: center;
    letter-spacing: 0.13em;
    color: #45FA41;
    text-shadow: unset;
    text-transform: unset;
    -webkit-text-stroke: unset;
  }
  .modal-title button {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
    background: #010714;
    border: 1px solid #f6e3ff;
    border-radius: 40px;
    padding: 20px;
    height: 40px;
    box-shadow: -2px -2px 15px rgba(69, 250, 65, 0.5), 2px 2px 15px rgba(69, 250, 65, 0.5), 2px -2px 15px rgba(69, 250, 65, 0.5), -2px 2px 15px rgba(69, 250, 65, 0.5);
  }
  .modal-title button div {
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #fff;
    font-size: 18px;
  }
  .modal-content.consultation {
      background: unset;
      border: unset;
  }
  .modal-header.consultation {
      display: block;
      border: unset;
  }
  .modal-body.consultation {
      display: flex;
      flex-direction: column;
      width: 75%;
  }
  .modal-body.consultation h3 {
    padding-top: 15px;
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 112.4%;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .modal-body.consultation ul {
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;
    margin: 0;
    list-style: none;
  }
  .modal-body.consultation li {
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);;
  }
  .modal-body.consultation li:hover {
      color: white;
      cursor: pointer;
  }
  .modal-body.consultation input {
    border-radius: 30px;
    background: white;
    max-width: 350px;
    width: 100%;
    height: 40px;
  }
  .modal-body.consultation label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
  }
  .modal-body.consultation input[type=checkbox]:checked {
      background: black !important;
  }
  .modal-body.consultation label input {
    display: none; /* Hide the default checkbox */
  }
  .modal-body.consultation label span {
      width: 5%;
    height: 10px;
    width: 10px;
    border: 1px solid grey;
    background: white;
    display: inline-block;
    position: relative;
  }

  .modal-body.consultation [type=checkbox]:checked + span:before {
    content: '\2713';
    color: red;
    position: absolute;
    top: -10px;
    left: -1px;
  }

  .modal-body.consultation .check  {
      width: 90%;
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
  }
  .modal-body.consultation .check a {
      color: white;
      text-decoration: underline;
      font-weight: 600;
  }