/* Modal menu */

.modal-backdrop {
    top: 90px;
}

.modal {
    top: 90px;
}

.modal-title {
    text-align: center;
    font-family: "Russo One", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.8em;
    line-height: 112.4%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: rgba(12, 83, 99, 0.65);
    -webkit-text-stroke: 3px#00d1ff;
    text-shadow: 3px 13px 31px rgb(0 209 255 / 50%), 6px 6px 16px rgb(0 209 255 / 50%), -2px -2px 7px rgb(0 209 255 / 50%), -2px 2px 7px rgb(0 209 255 / 50%);
}

.modal-backdrop.show {
    opacity: 0.9;
}

#exampleModal .modal-content {
    background: unset;
    /* width: 50%;
    /* margin: 0 auto;  */
}

#exampleModal .modal-dialog {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.modal-body {
    background: unset;
    width: 50%;
    margin: 0 auto;
}

#exampleModal .modal-footer {
    border: unset;
    flex-direction: column;
}

.modal-footer h3 {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 112.4%;
    color: white;
}

.modal-footer ul {
    width: 90%;
}

.modal-footer ul a {
    text-decoration: unset;
    font-family: 'Mplus 1p';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 112.4%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: unset;
}

.chat-click {
    display: none;
}

.chat-hover {
    display: none;
}

.modal-footer li:last-child:hover .chat-base {
    display: none;
}

.modal-footer li:last-child:hover .chat-hover {
    display: block;
}

.modal-footer li:last-child:hover .chat-click {
    display: none;
}

.modal-footer li:last-child:active .chat-base {
    display: none;
}

.modal-footer li:last-child:active .chat-hover {
    display: none;
}

.modal-footer li:last-child:active .chat-click {
    display: block;
}

#exampleModal .modal-header {
    justify-content: center;
    border-bottom: unset;
    padding-left: 35px;
}

#exampleModal .btn-close {
    background: unset;
    border-radius: unset;
    position: relative;
    width: 30px;
    padding: 0;
    margin: 0;
    top: -12px;
    right: -5px;
    outline: unset;
}

.btn-close:focus {
    box-shadow: unset;
}

.modal-menu ul {
    list-style: none;
}

.modal-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.modal-menu li:hover {
    background: rgba(17, 99, 117, 1);
}

.modal-menu li:active {
    background: #07353F;
}

.modal-menu li:active a {
    opacity: 0.6;
}

.modal-menu li a {
    font-family: "Mplus 1p";
    font-style: normal;
    font-weight: 500;
    font-size: 2em;
    line-height: 30px;
    color: white;
    margin: 0 auto;
}


/* first li */

.modal-menu li:first-child {
    position: relative;
    border-top: 2px solid #00D1FF;
}

.modal-menu li:first-child:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 2px;
    transform: rotate(8deg);
    border-right: 2px solid #00D1FF;
}

.modal-menu li:first-child:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 2px;
    transform: rotate(-8deg);
    border-right: 2px solid #00D1FF;
}


/* first li */


/* second li */

.modal-menu li:nth-child(2) {
    border-top: 2px solid #00D1FF;
    width: 98%;
    margin: 0 auto;
    position: relative;
}

.modal-menu li:nth-child(2):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: 1px;
    transform: rotate(4deg);
    border-right: 2px solid #00D1FF;
}

.modal-menu li:nth-child(2):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: 1px;
    transform: rotate(-4deg);
    border-right: 2px solid #00D1FF;
}


/* second li */


/* third li */

.modal-menu li:nth-child(3) {
    border-top: 2px solid #00D1FF;
    width: 97%;
    margin: 0 auto;
    position: relative;
}

.modal-menu li:nth-child(3):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: -1px;
    transform: rotate(-2deg);
    border-right: 2px solid #00D1FF;
}

.modal-menu li:nth-child(3):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -1px;
    transform: rotate(3deg);
    border-right: 2px solid #00D1FF;
}


/* third li */


/* last li */

.modal-menu li:nth-child(4) {
    width: 98%;
    border-top: 2px solid #00D1FF;
    border-bottom: 2px solid #00D1FF;
    margin: 0 auto;
    position: relative;
}

.modal-menu li:nth-child(4):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    right: -1px;
    transform: rotate(-3deg);
    border-right: 2px solid #00D1FF;
}

.modal-menu li:nth-child(4):before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -1px;
    transform: rotate(4deg);
    border-right: 2px solid #00D1FF;
}


/* last li */

.modal-menu .enter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-menu .enter a {
    font-family: "Russo One";
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    line-height: 30px;
    color: white;
    text-decoration: unset;
    margin: 0;
}

.modal-menu .enter img {
    width: 25px;
}


/* Modal menu */


/* Modal consultation */

.modal-title.consultation {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Russo One';
    font-size: 24px;
    line-height: 112.4%;
    /* or 27px */
    letter-spacing: 0.13em;
    color: #45FA41;
    text-shadow: unset;
    text-transform: unset;
    -webkit-text-stroke: unset;
    /* margin-top: 45px; */
    /* margin-bottom: 28px; */
    position: absolute;
    top: -107px;
}

.modal-title button {
    display: flex;
    align-items: center;
    justify-self: space-between;
    height: 50px;
    position: relative;
    background: #010714;
    border: 1px solid #f6e3ff;
    border-radius: 40px;
    padding: 23px 70px;
    height: 40px;
    margin-right: 81px;
    margin-left: -26px;
}

.modal-title button,
.modal-title button:hover,
.modal-title button:active {
    box-shadow: -2px -2px 15px rgba(69, 250, 65, 0.5), 2px 2px 15px rgba(69, 250, 65, 0.5), 2px -2px 15px rgba(69, 250, 65, 0.5), -2px 2px 15px rgba(69, 250, 65, 0.5);
}

.modal-title h2 {
    width: 318px;
    font-size: 21px;
    margin-right: 132px;
}

.modal-title button div {
    font-family: "M PLUS 1p", sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #fff;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.modal-title button:hover {
    background: #042203;
}

.modal-title button:active {
    background: #001100;
}

.modal-title button:active div {
    color: #658664;
}

.top {
    margin-top: 123px;
}

.modal-content.consultation {
    background: unset;
    border: unset;
}

.modal-header.consultation {
    display: block;
    border: unset;
}

.modal-body.consultation {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.modal-body.consultation h3 {
    font-family: 'Russo One';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 112.4%;
    text-align: center;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 350px;
}

.modal-body.consultation ul {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
    list-style: none;
}

.modal-body.consultation li {
    font-family: "M PLUS 1p", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

.modal-body.consultation li.modal-first-step {
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.6);
}

.modal-body.consultation li:hover {
    color: white;
    cursor: pointer;
}

.modal-form-input {
    border-radius: 30px;
    background: white;
    max-width: 350px;
    width: 100%;
    height: 60px;
    border: none;
}

.modal-body.consultation label {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-left: 22px;
    margin-top: 10px;
}

.modal-body.consultation .modal-label-subtitle {
    font-size: 16px;
    margin-top: 0;
}

.modal-body.consultation input[type=checkbox]:checked {
    background: black !important;
}

.modal-body.consultation label input {
    display: none;
    /* Hide the default checkbox */
}

.modal-body.consultation label span {
    width: 5%;
    height: 13px;
    width: 28px;
    border: 1px solid grey;
    background: white;
    display: inline-block;
    position: relative;
    align-self: flex-start;
    margin: 5px;
}

.modal-body.consultation [type=checkbox]:checked+span:before {
    content: '\2713';
    color: red;
    position: absolute;
    top: -10px;
    left: -1px;
}

.modal-body.consultation .check {
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 100px;
    min-width: 300px;
}

.modal-form-group {
    width: 350px;
}

.modal-body.consultation .check a {
    color: white;
    text-decoration: underline;
    font-weight: 600;
}

.tabs__content {
    display: none;
}

.tabs__content.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body.consultation li.active-tab {
    color: #fff;
}


/* .active {
    color: #fff;
} */


/* Second part of modal */

.order-select-group {
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}

.order-select-group button {
    display: flex;
    width: 375px;
    height: 60px;
    font-size: 2.25em;
    font-weight: 500;
    border: 2px solid #00D1FF;
}

span.arrow-left {
    position: absolute;
    height: 1px;
    background-color: #fff;
    width: 13px;
    transform: rotate(40deg);
    border-radius: 2px;
}

.arrow-right {
    position: absolute;
    height: 2px;
    background-color: #fff;
    width: 13px;
    transform: rotate(-40deg);
    margin-left: 8px;
    border-radius: 2px;
}

.learning-order-select {
    background-color: #000;
    color: #fff;
    margin-right: 10px;
    background-image: url('../img/modal/Vector\ 83\ \(4\).webp');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position-x: 332px;
    background-position-y: 18px;
}

.teachers-order-select {
    color: #fff;
    margin-left: 10px;
    background-color: #000;
    background-image: url('../img/modal/Vector-right.png');
    background-repeat: no-repeat;
    background-size: 13px;
    background-position-x: 332px;
    background-position-y: 18px;
}

.active-btn {
    background-color: rgba(0, 209, 255, 0.52);
    border: 2px solid #00D1FF;
    background-image: url('../img/modal/Vector-left.png');
    background-repeat: no-repeat;
    background-size: 25px;
    background-position-x: 322px;
    background-position-y: 24px;
}

.tabs__content button {
    box-sizing: border-box;
    border-radius: 30px;
    font-family: "M PLUS 1p", sans-serif;
}

.learning-order-select,
.teachers-order-select {
    text-align: left;
    padding: 16px 30px;
}

.learning {
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.learning__subtitle {
    color: #fff;
    font-size: 2em;
    font-weight: 800;
    font-family: "M PLUS 1p", sans-serif;
}

.learning__title {
    font-weight: 800;
    font-size: 2.5em;
    text-align: center;
    color: #FF00A8;
    margin: 15px 0 10px 0;
}

.form-border {
    border: 3px solid #FFECEF;
    filter: drop-shadow(-2px 2px 7px rgba(255, 0, 168, 0.7)) drop-shadow(2px -2px 7px rgba(255, 0, 168, 0.7)) drop-shadow(-2px -2px 7px rgba(255, 0, 168, 0.7)) drop-shadow(-2px 2px 7px rgba(255, 0, 168, 0.7));
    position: absolute;
    height: 652px;
    width: 1091px;
    left: -296px;
    z-index: -1;
}

.learning__form textarea {
    width: 994px;
    height: 86px;
    background: #FFFFFF;
    border-radius: 30px;
    resize: none;
    border: none;
}

.learning__form-group {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.learning__form textarea::placeholder {
    font-weight: 500;
    font-size: 2em;
    line-height: 24px;
    color: rgba(10, 0, 112, 0.62);
    font-family: "M PLUS 1p", sans-serif;
    padding: 0 10px 10px 10px;
    text-align: left;
}

.learning__form {
    font-family: "M PLUS 1p", sans-serif;
    padding-bottom: 100px;
}

.learning__form input {
    border: none;
}

.learning__form label {
    font-weight: 500;
}

.learning__form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background-image: url('../img/modal/Vector\ 84.webp');
    background-repeat: no-repeat;
    background-size: 24px;
    background-position-x: 430px;
    background-position-y: 27px;
}

textarea#description {
    height: 180px;
}

.learning__input,
.learning__select,
.learning__input-wrapper {
    width: 487px;
    padding: 18px;
    border-radius: 50px;
    font-weight: 500;
    font-size: 2em;
    color: #0A0070;
    border: none;
}

.learning__input {
    padding: 18px 81px 19px 4px;
}

.laerning__label textarea#description::placeholder {
    padding: 0 10px 10px 30px;
}

.learning__select {
    background: #E5ADFF;
    height: max-content;
    margin-right: 10px;
    font-size: 2.25em;
    padding: 17px 22px 16px;
}

.learning__input::placeholder {
    padding: 20px;
    color: rgba(10, 0, 112, 0.62);
}

.learning__input-price {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-bottom: 18px;
}

.additional-info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 34px;
}

.learning__input-wrapper {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    margin-left: 10px;
}

.learning__input-inner {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.learning__input-wrapper input {
    margin-right: 10px;
}

.learning__input-wrapper label.learning__label {
    color: #000;
    margin-right: 12px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+*::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 3rem;
    height: 3rem;
    margin-right: 9px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}

label>input[type="radio"]:checked+* {
    color: black;
}

.input-wrapper-title {
    margin: 0 auto 0 5px;
    font-size: 18px;
    align-self: center;
}

label>input[type="radio"]:checked+*::before {
    background: radial-gradient(black 0%, black 40%, transparent 50%, transparent);
    border-color: black;
    background-color: #E0F2F8;
}

.upload-file-desc {
    color: #fff;
    font-family: "M PLUS 1p", sans-serif;
    margin: 12px 0 0 27px;
    font-weight: 800;
}

.upload-file-desc span {
    font-size: 2em;
}

.upload-file-link {
    color: #fff;
    font-size: 2.25em;
    text-decoration: underline;
    display: block;
}

.create-order-btn {
    background: rgba(0, 209, 255, 0.23);
    border: 1px solid #F6E3FF;
    box-shadow: -2px -2px 10px rgba(0, 209, 255, 0.5), 2px 2px 15px rgba(0, 209, 255, 0.5), 2px -2px 15px rgba(0, 209, 255, 0.5), -2px 2px 15px rgba(0, 209, 255, 0.5);
    border-radius: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 2.25em;
    padding: 15px 73px;
    display: flex;
    margin: 34px auto 30px auto;
}

.approve-agreement {
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

.create-order-btn:hover {
    background: rgba(0, 209, 255, 0.57);
}

.create-order-btn:active {
    background: rgba(2, 76, 92, 0.57);
    color: rgba(255, 255, 255, 0.58);
}

select::-ms-expand {
    display: none;
}

select {
    max-width: 100%;
    overflow: hidden;
    /* white-space: normal; */
}

select {
    padding-right: 12px !important;
}

.learning__select#plagiat {
    padding: 3px 0px 3px 20px;
}

.form-border.teacher {
    height: 497px;
}

.learning__form-group.teacher {
    margin-top: 25px;
}

.second-part-of-modal label.form__label-teacher {
    margin-top: 22px;
}

.second-part-of-modal div.upload-file-desc {
    margin-top: 100px;
}

.learning pre.learning__subtitle-formated-s {
    display: none;
}

.modal-body.consultation label.label-topic,
.modal-body.consultation label.label-description {
    margin-left: 100px;
}

.learning pre.learning__subtitle-formated {
    display: none;
}

.learning__subtitle.teacher {
    display: block;
    width: 700px;
    font-family: "M PLUS 1p", sans-serif;
}

.order-select-group {
    margin-bottom: 30px;
}

@media (max-width: 1100px) {
    .modal-body.consultation label {
        margin-right: auto;
    }
    .modal-header.consultation {
        margin-bottom: 10px;
    }
    .modal-title button {
        margin: 0 32px 0 0;
    }
    .modal-title h2 {
        margin-right: 62px;
    }
    .learning__form fieldset {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .learning__form textarea {
        width: 668px;
        height: 129px;
    }
    .learning__form textarea#description {
        width: 668px;
        height: 212px;
    }
    .learning__form-group {
        grid-template-columns: 1fr;
        align-items: center;
    }
    .learning__form-group select#subject {
        margin-top: 15px;
    }
    .learning__form-group select#work {
        margin-top: 5px;
    }
    .learning__input-price {
        margin: 15px 0 20px 0;
    }
    .form-border {
        width: 736px;
        height: 956px;
        left: -117px;
    }
    .learning__form label.label-topic,
    .learning__form label.label-description {
        margin-right: auto;
        margin-top: 20px;
    }
    div.workload-block,
    div.completion-block {
        margin-top: 10px;
    }
    .learning__subtitle {
        display: none;
    }
    .learning pre.learning__subtitle-formated {
        display: block;
        color: #fff;
        font-size: 2em;
        font-weight: 800;
        font-family: "M PLUS 1p", sans-serif;
        margin-right: 32%;
    }
    .order-select-group {
        flex-direction: column;
        align-items: center;
    }
    .order-select-group button {
        margin: 10px 0 12px 0;
    }
    .learning__title {
        margin-top: 0;
    }
    .learning__subtitle-formated {
        margin-bottom: 0;
    }
    .additional-info {
        flex-direction: column;
        align-items: center;
    }
    .additional-info .learning__select {
        margin: 0 0 20px 0;
    }
    .upload-file-desc {
        text-align: center;
    }
    .learning__input-wrapper {
        margin-bottom: 10px;
    }
    .learning pre.learning__subtitle-formated-s {
        display: none;
    }
    .form-border.teacher {
        width: 736px;
        height: 703px;
    }
    .modal-body.consultation label.label-topic,
    .modal-body.consultation label.label-description {
        margin-left: 12px;
    }
    .learning__label {
        margin-top: 10px;
    }
    .learning__subtitle.teacher {
        width: 524px;
        text-align: center;
        margin-bottom: 30px;
    }
    .second-part-of-modal div.upload-file-desc {
        margin: 60px 0 0 0;
        font-size: inherit;
    }
}

@media (max-width: 586px) {
    .modal-title h2 {
        margin-right: 2px;
    }
    .modal-title button {
        margin-right: 32px;
    }
}

@media (max-width: 550px) {
    .learning__select,
    .learning__input {
        padding: 18px 22px 18px;
        font-size: 16px;
    }
}

@media (max-width: 745px) {
    .modal-body.consultation label {
        margin-right: auto;
    }
    .learning__subtitle.teacher {
        width: 289px;
        text-align: center;
        font-size: 14px;
        margin-bottom: 28px;
    }
    .modal-title.consultation {
        display: block;
    }
    .modal-body.consultation h3 {
        margin-top: 60px;
    }
    .modal-title h2 {
        margin-left: auto;
        margin-right: auto;
    }
    .modal-title button {
        margin: 18px auto 72px auto;
    }
    .modal-header.consultation {
        padding: 0;
    }
    .form-border {
        width: 373px;
        height: 1157px;
        left: auto;
        margin-left: -8px;
    }
    .order-select-group button {
        width: 350px;
        font-size: 18px;
    }
    .teachers-order-select {
        background-position-x: 310px;
    }
    .learning-order-select {
        background-position-x: 310px;
    }
    .active-btn {
        background-position-x: 300px;
    }
    .learning pre.learning__subtitle-formated {
        display: none;
    }
    .learning pre.learning__subtitle-formated-s {
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: 800;
        font-family: "M PLUS 1p", sans-serif;
        margin-right: 36%;
    }
    .learning__title {
        max-width: 250px;
        font-size:20px;
    }
    .learning__form textarea {
        width: 350px;
        height: 253px;
    }
    .learning__form select {
        background-position-x: 309px;
        background-position-y: 25px;
    }
    .learning__form-group {
        justify-items: center;
        text-align: center;
    }
    .learning__form-group select {
        font-size: 16px;
        padding: 18px 42px 18px 15px;
    }
    .learning__form-group input {
        padding: 18px 42px 18px 15px;
        font-size: 16px;
    }
    .learning__form textarea#description {
        width: 350px;
        height: 303px;
    }
    .learning__form label.label-topic,
    .learning__form label.label-description {
        margin-right: auto;
        margin-top: 20px;
        margin-left: 90px;
    }
    .learning__form textarea::placeholder {
        font-size: 16px;
    }
    .learning__form-group input.learning-input {
        width: 350px;
    }
    .learning__input {
        width: 350px;
        padding: 18px 0;
        font-size: 16px;
        white-space: normal;
    }
    .learning__form-group select {
        width: 350px;
        margin-right: 0;
    }
    select#plagiat.learning__select {
        width: 350px;
        padding: 9px 10px 9px 48px;
        font-size: 14px;
        margin-right: 25px;
    }
    .learning__form fieldset {
        margin-right: 29px;
    }
    .learning__input-wrapper {
        width: 350px;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-right: 28px;
    }
    .input-wrapper-title {
        margin: 0;
    }
    .approve-agreement {
        align-items: center;
    }
    .learning__form label.label-topic,
    .learning__form label.label-description {
        margin-left: 12px;
    }
    .learning__input-inner {
        width: 100%;
        justify-content: space-evenly;
    }
    .form-border.teacher {
        width: 375px;
        height: 790px;
        left: auto;
        margin-left: -13px;
    }
    .learning__form fieldset.fieldset-teacher {
        margin-left: 0;
    }
    label.form__label-teacher {
        margin-right: auto;
        margin-left: 50px;
    }
    .learning__form-group .date-of-lesson {
        width: 243px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    label.learning__label.workload {
        margin-top: 0;
    }
    .modal-body.consultation label {
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        margin-left: 10px;
        margin-right: auto;
        margin-top: 10px;
    }
    .modal-body.consultation label.completion {
        margin-left: 0;
    }
    .order-select-group {
        margin-bottom: 0;
    }
    .second-part-of-modal div.upload-file-desc {
        margin: 30px 0 0 0;
        font-size: inherit;
    }
    .learning__input-inner label.learning__label {
        margin-left: auto;
        margin-right: auto;
    }
    .first-part-of-modal .learning__input-inner {
        margin: 0;
    }
    .learning__form {
        margin-left: 30px;
    }
}
@media (max-width: 550px) {
    .learning__form fieldset {
        margin-right: 31px
    }
}
@media (max-width: 403px) {
    .modal-menu ul {
        list-style: none;
        width: 209px;
        margin-left: -12px;
    }
}
