// @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;800&family=Montserrat:wght@600&family=Russo+One&display=swap');
// font-family: 'M PLUS 1p', sans-serif;  500 600
// font-family: 'Montserrat', sans-serif; 600
// font-family: 'Russo One', sans-serif; 400
$fs-s:1.4em;
$fs:1.8em;
$fs-c:2.4em;
$fs-b:3em;
$header:rgba(1, 7, 29, 0.73);
$background:#01000F;
$pink-w:#B61BFF;
$pink:#FF00E5;
$pink-d:#A11BDF;
$blue-w:#00D1FF;
$pink-r:#FF00A8;
$green:#10C410;
$white:#FFFFFF;
$btn-h:#572370;
$lang:#ffebf8;
$pink-btn:rgba(182, 27, 255, 0.6);
$pink-btn-active:rgba(57, 16, 77, 1);
$pink-btn-hover:rgba(87, 35, 112, 1);
$red-btn:rgba(255, 0, 168, 0.5);
$red-btn-hover:rgba(130, 3, 87, 1);
$red-btn-active:rgba(92, 2, 62, 1);